---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Digital Transformation</h1>
			<p class="subtext editable">
				<p>Digital Transformation is the key to survival for many organizations. Here is how Cervant can help transform...</p>
			</p>
			<div class="cta button alt"><a href="/digital/">Learn More</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Digital Transformation</h2>
				<p class="editable">
					Our unique methodologies enable a structured approach to achieve the required Transformation with a clear road map and a joint vision. Cervant’s Digital experts help develop a robust and practical approach to rapidly innovate, disrupt, and accelerate its customer’s business to scale.
				</p>
			</div>
			<div class="image">
				<img class="editable" src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&h=650&q=80" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Process Automation</h2>
				<p class="editable">McKinsey estimates that about half of work could be automated. Imagine how much more work your team could complete with twice as much time, and no dull data entry bogging them down.

						Automation has moved from being a luxury to a necessity, with Forrester predicting that it can cut operating costs by up to 90%. With your costs down, automation leaves you with budget to spend on innovation over maintenance.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://images.unsplash.com/photo-1516110833967-0b5716ca1387?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&h=650&q=80" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Infrastructure Management</h2>
				<p class="editable">As enterprises scale their IT infrastructure to support business growth, managing global networks, databases and applications becomes a daunting task which can overwhelm internal resources and significantly decrease productivity and growth. Cervant provides comprehensive set of services to help organizations optimize critical IT staff. We offer customers get the technology, reliability and control that their business demands without jeopardizing strategic priorities.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://images.unsplash.com/photo-1506399558188-acca6f8cbf41?ixlib=rb-1.2.1&auto=format&fit=crop&w=1300&h=650&q=80" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Contact us today</h2>
				<p class="subtext editable">Let us know how we can help you with advancing your business goals</p>
				<div class="cta button alt"><a href="/contact/">Contact Us</a></div>
			</div>
		</div>
	</section>
</div>
